/* Home */
@mixin flex {
  display: flex;
  justify-content: center;
}

.home {
  height: 100vh;
  background-color: $background-grey;
}

.my-align {
  @include flex;
  align-items: center;
  height: 100%;
}

#logo {
  @include flex;
  flex-direction: column;
}

#logo h1 {
  font-size: var(--big-font-size);
  width: var(--width);
}

#logo p {
  font-size: var(--normal-font-size);
  width: var(--width);
}

.form-box {
  max-width: var(--max-width);
}